.star-rating-container {
  display: flex;
}

.star-rating-container p {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 5px;
  font-size: 38px;
  transition: color 0.2s ease;
}
.star:hover {
  color: gold; /* highlighted */
}
.active {
  color: gold; /* highlighted */
  /* background: gold; */
}
